.login-container {
  width: 385px;
  margin: 2rem auto 0 auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

/* .login-container input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
  } */

.login-btn-logpage {
  width: 100%;
  padding: 0.75rem;
  background-color: #0070f3;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.login-btn-logpage:hover {
  background-color: #0059c1;
}

/* .login-container p {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.95rem;
    color: #333;
  } */

.register-link {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.95rem;
  color: #333;
}

.register-link a {
  color: #0070f3;
  text-decoration: none;
  font-weight: 500;
}

.register-link a:hover {
  text-decoration: underline;
}

.input-container {
  position: relative;
  margin-bottom: 1.5rem;
}

.input-container input {
  width: 100%;
  padding: 1rem 0.75rem 0.25rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: transparent;
}

.input-container input:focus {
  border-color: #0070f3;
  outline: none;
}

.input-container label {
  position: absolute;
  top: 0.8rem;
  left: 0.75rem;
  background-color: #fff;
  padding: 0 0.25rem;
  transition: 0.2s ease all;
  pointer-events: none;
  color: #888;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  top: -0.6rem;
  left: 0.6rem;
  font-size: 0.75rem;
  color: #0070f3;
}

.toggle-password-btn-login {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0;
}
